.Select-control {
    background-color: #333; /* Dark background for the dropdown */
    color: white; /* Change text color for better visibility */
}

.Select-menu-outer {
    background-color: #333; /* Dark background for dropdown options */
    color: white;
}

.Select-option.is-focused {
    background-color: #555; /* Slightly lighter for focused option */
}

.Select-option.is-selected {
    background-color: #777; /* Different color for selected option */
}

.Select--single > .Select-control .Select-value .Select-value-label {
    color: white !important;
}

.DateInput_input {
    color: white !important;
    background-color: #333 !important;
    border-bottom: 1px solid #777 !important; /* or any other color that fits the minty theme */
}

.CalendarDay {
    border-color: #777 !important; /* border color for each day */
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
    background-color: #555 !important; /* background color for selected day */
    color: white !important;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
    background-color: #555 !important; /* background color for the span of days between the hovered day and the selected day */
    color: white !important;
}

.CalendarDay__today {
    background-color: #777 !important; /* background color for the current day */
    color: white !important;
}

.Select-control {
    height: 38px; /* Adjust height to match DatePicker */
    border-radius: 0.25rem; /* Adjust border-radius to match DatePicker */
}

.DateInput_input {
    height: 38px; /* Adjust to match the height of the dropdown */
    border-radius: 0.25rem; /* Adjust to match the border-radius of the dropdown */
}
